/*
 *
 *
 */
#container{
background-image:url("images/body-bg.jpg");
}
body{
	        background-image:url("images/body-bg.jpg");
}



.site-content{
	float:left;
}
#sidebar{
	float:right;
}
#content{
	float:left;
}


.cat_list{
	float:right;
	width:25%;
        margin:10px;
        border:1px solid #F5AC0F;
        margin-top:20px;
}
.cat_list li{
       //display: table-cell;
	        vertical-align: middle;
	           text-align: center;

}
.cat_list ul{
        //margin:10px auto;
	//width:50%;
	//float:right;
	margin-bottom:30px;
}

.cat_list_a{
	margin:10px auto;
	//text-align:center;
	display: inline-block;
	    text-align: left;
}

.cat_title{
	font-size:20px;
        margin:10px;
}

#sidebar{
	width:310px;
	float:right;
}

.side_image{
	float:left;
	margin:5px;

}
.relative_post{
	margin:10px;
}


.wp_social_bookmarking_light{
	height:50px;
	border:solid 2px #F5AC0F;
}
.wsbl_facebook_like,.wsbl_twitter,.wsbl_line,.wsbl_facebook{
	float:left;
	margin: 10px;

}

ul.post_rank{
	float:right;
        border:solid 1px #F5AC0F;
 	margin:10px;	
}
/*.side_contents{
	float:right;
}*/
#primary{
	margin-top:20px;
	margin-bottom:30px;
	width:70%;
}

.side_contents div,.side_contents ul{
	//width:25%;
}
.post_rank{
	width:25%;
}
#post_rank_title{
	font-size:20px;
	margin:10px;
	border-bottom:dashed #F5AC0F 1px;
	padding:5px;
}


.menu li{
	float:left;
}


