body,td,th {
	font-size:12px;
}
form {
	margin:0px;
}
input {
	font-size:12px;
}
#news {
	float:left;
	width:20%;
	border:dotted 1px black;
	padding:5px;
}
#products {
	float:right;
	width:20%;
	border:dotted 1px black;
	padding:5px;
}
#contents {
	float:left;
	width:55%;
	padding:5px;
}
.item {
	margin-top:20px;
	width:95%;
	border:dotted 1px black;
	padding:5px;
}
.info {
	margin-top:20px;
	width:95%;
	border:dotted 1px black;
	padding:5px;
}
.new_kaukau {
	border-bottom:dotted 1px black;
	padding:5px 0px;
}
.title1 {
	font-size:32px;
	margin-bottom:20px;
}
.title2 {
	font-size:16px;
	margin-bottom:15px;
}
