/*   */
body{
	    background: #e90089;
}
.se-container{
	display: block;
	width: 100%;
	overflow: hidden;
	padding-top: 150px;
}
.se-slope{
	margin: 0 -50px;
	-webkit-transform-origin: left center;
}
.se-slope:first-child{
	background: #000;
	//-webkit-transform: rotate(5deg);
	margin-top: -200px;
	box-shadow: 0px -1px 3px rgba(0,0,0,0.4);
	padding: 130px 100px 250px 100px;
}
.se-slope:nth-child(odd){
	background: #000;
	//background:url(images/header_about.jpg);	
	//background-size:cover;	
	//-webkit-transform: rotate(5deg);
	margin-top: -200px;
	box-shadow: 0px -1px 3px rgba(0,0,0,0.4);
	padding: 130px 100px 250px 100px;
}
.se-slope:nth-child(even){
	background: #e90089;
	//-webkit-transform: rotate(-5deg);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.4) inset;
	padding: 150px 100px 450px 100px;
}
.se-slope:first-child{
	background: #000;
	-webkit-transform:none;
	margin-top: -200px;
	box-shadow: 0px -1px 3px rgba(0,0,0,0.4);
	padding: 130px 100px 250px 100px;
}
.se-content h3{
	font-size: 60px;
	position: relative;
	display: inline-block;
	padding: 10px 30px 8px 30px;
	height: 80px;
	line-height: 80px;
	margin-bottom: 20px;
	font-family: 'Bitter', 'Trebuchet MS', Arial;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}
.se-slope:nth-child(odd) .se-content h3{
	background: #e90089;
	    color: #000;
}
.se-slope:nth-child(even) .se-content h3{
	background: #000;
	    color: #e90089;
}
.se-content h3:before{
	content: '';
	width: 0;
	height: 0;
	border-top: 38px solid transparent;
	border-bottom: 60px solid transparent;
	border-right: 60px solid black;
	position: absolute;
	left: -59px;
	top: 0px;
}
.se-content h3:after{
	content: '';
	width: 0;
	height: 0;
	border-top: 38px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid black;
	position: absolute;
	right: -59px;
	top: 0px;
}
.se-content{
	text-align:center;
}
.se_title{
	float:right;
	width:auto;
	visibility:hidden;
}
/*.se-content{
	display:block;
	background-color:white;
	background-size:11px 11px;
	background-image:radial-gradient(black,black 2px,transparent 2px,transparent);
}*/
p{
	  color:#fff100;
	    text-shadow:0 1px 0 rgba(255,255,255,1),0 -1px 0 rgba(0,0,0,0.4);
}
p:before {
	color:#e4007f;
	-webkit-mask-image:-webkit-linear-gradient(45deg, 
	rgba(0,0,0,0.5),
	rgba(0,0,0,0.5) 15%,
	rgba(0,0,0,0) 25%,
	rgba(0,0,0,0) 35%,
	rgba(0,0,0,0) 50%,
	rgba(0,0,0,0.5) 60%,
	rgba(0,0,0,1) 75%,
	rgba(0,0,0,1) 85%,
	rgba(0,0,0,1)
	);
}
p:after {
        color:#00a0e9;
        -webkit-mask-image:-webkit-linear-gradient(45deg, 
        rgba(0,0,0,0),
        rgba(0,0,0,0) 15%,
        rgba(0,0,0,0) 25%,
        rgba(0,0,0,0) 35%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0,0.8) 60%,
        rgba(0,0,0,0.5) 75%,
        rgba(0,0,0,0) 85%,
        rgba(0,0,0,0)
        );
}

