h3    {font-size:16px;
        border-left:solid 12px #8bc124;
        padding-left:10px;}
p     {font-size:14px;
        line-height:1.5;
        margin:0 0 20px;}

//画像
.alignleft  {float: left;
             margin-right:20px;
             margin-bottom:20px;}
.alignright {float: right;
             margin-left:20px;
             margin-bottom:20px;}
.aligncenter {clear:both;
               display: block;
               margin:25px auto;}
a img         {border: none;}

//リンク集
.link            {margin: 0;
                  padding: 0;}
.link, .link ul  {list-style-type:none;}
.link li li      {font-size: 12px;
                  margin: 20px 0 25px;
                  border-bottom: solid 1px #8bc124;
                  padding-bottom: 5px;}
.link a          {font-size: 16px;
                  font-weight: bold;
                  padding: 5px;}
.link a:hover    {color:#008844;}
